:root{
    --backColor: #FFFED2;
    --fontSize: 20px;
    --ten : 10px
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--backColor);
    font-size: var(--fontSize);
    font-family: 'Abel';
}

h1{
    text-align: center;
    margin: 20px;
}

#container{
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: center;

    & p{
        text-align: center;
    }
}

input[type = 'submit']{
    background-color: #B44634;
    color: white;
    cursor: pointer;
}

input {
    margin: var(--ten);
    padding: var(--ten);
    border-radius: var(--ten);
    border: 1px solid #B44634;
    -moz-appearance: textfield;
    
}

.nav{  
    margin: var(--ten); 
    display: flex;
    justify-content: flex-end;
    
    & a{
        margin: var(--ten);
        text-decoration: none;
        color: #B44634;
       
        & i {
            font-size: 20px;
            margin-right: var(--ten);
            ;
        }
    }
}

.nav2{  
    margin: var(--ten); 
    
    & a{
        margin: var(--ten);
        text-decoration: none;
        color: #B44634;
       
        & i {
            font-size: 20px;
            margin-right: var(--ten);
            ;
        }
    }
}


.error{
    padding: 20px;
    border: 2px solid #B44634;
}

table{
    border: 2px solid #B44634;
    padding: var(--ten);
    

    & td{
        padding: var(--ten);
    }
}



.delete {
    background-color: #FFFED2;
    color: #B44634;
    border: none;
}

a {
    color: #B44634;
    text-decoration: none; 
}

a:visited {
    color: #B44634;
}